@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital@0;1&family=Lily+Script+One&family=Nunito:wght@400;700&display=swap');


*{
    font-family: 'Nunito',sans-serif;
    color: white;
    box-sizing: border-box;
    cursor: default;
    transition: all 0.2s ease-in-out;
    font-size: large;
    text-shadow: 0px 0px 13px rgba(0, 0, 0, 1);}

body {
    margin: 0;
    background-image: url('img/joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg')
}

#content  {
    margin: 0;
    padding: 0;
    background: rgba(229, 62, 62,0.15);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* MENU OPTIONS */

.menu {
    display: grid;
    margin: 20px 50px 20px 50px;
    height: 70px;
    padding-bottom: 15px;
    grid-template-areas: 'ph ph ph ph ph ph ph ph ph home story menu res contact';
    align-items: center;
    border-bottom: solid rgba(255,255,255,0.15) 1px;
}
.menu-logo {
    cursor: default;
    display: flex;
    padding-left: 20px;
    grid-area: ph;
    opacity: 1;
}

.menu-option {
    cursor: pointer;
    height : 70px;
    display: flex;
}

.menu-logo > span {
    font-family: 'Lily Script One',cursive;
    font-size: xx-large;
    cursor: default;
}

.menu-option > span {
    margin: auto;
    color: rgba(255,255,255,0.5);
}

#home{
    grid-area: home;
    opacity: 1;
}

#story{
    grid-area: story;
}
#home-menu{
    grid-area: menu;
}
#reservations{
    grid-area: res;
}
#contact{
    grid-area: contact;
}

/* MENU OPTIONS FX */

.menu-option:hover > span {
    color: rgba(255,255,255,1);
    cursor: pointer;
}

div.option-selected {
    border-bottom: solid white 2px;
}

.option-selected span {
color: rgba(255,255,255,1);
    font-weight: bold;
    cursor: default;
}


/* WHOLE PAGE */

.page {
    padding: 81px;
    display: flex;
    height: 100%;
    justify-content: center;
}

.page > span {
    font-family: 'Inria Serif',serif;
    font-size: 3em;
    text-align: center;
    font-style: italic;
    margin: auto;
}

@media only screen and (max-width: 992px) {
    img {
        height: 150px;
        width: 150px;
    }
}

@media only screen and (max-width: 768px){
    #content {
        overflow: auto;

    }
    div.option-selected {
        border-bottom: solid white 0;
    }

    .menu-logo > span {
        font-size: xx-large;
        margin: auto;
        padding-left: 0;
        text-align: center;
    }

    img {
        height: 300px;
        width: 300px;
    }

    .menu {
        display: grid;
        margin: 20px 50px 20px 50px;
        height: 400px;
        padding-bottom: 15px;
        grid-template-areas:
                'ph'
        'home'
                'story'
        'menu'
        'res'
        'contact';
        align-items: center;
        border-bottom: solid rgba(255,255,255,0) 1px;
    }

    .page {
        padding: 81px;
        display: flex;
        height: fit-content;
        justify-content: center;
        flex-direction: column;
    }

    .page > span, .page > div {
        margin: auto;
    }
}
